[Desktop Entry]
Type=Service
MimeType=inode/directory;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Icon=view-preview-symbolic
Actions=Toggle_Preview_View_Mode
# TryExec=qdbus # now handled on our own, as there are multiple variants out there (by name)

[Desktop Action Toggle_Preview_View_Mode]
Name=Show Preview	F12
Name[ar]=معاينة	F12
Name[az]=Miniatür	F12
Name[be]=Папярэдні прагляд	F12
Name[be@latin]=Papiaredni prahliad	F12
Name[bg]=Предварителен преглед	F12
Name[bn]=প্রাকদর্শন	F12
Name[bs]=Pregled	F12
Name[ca]=Vista prèvia	F12
Name[ca@valencia]=Vista prèvia	F12
Name[cs]=Náhled	F12
Name[csb]=Pòdzérk	F12
Name[da]=Forhåndsvisning	F12
Name[de]=Vorschau	F12
Name[el]=Προεπισκόπηση	F12
Name[eo]=Antaŭrigardo	F12
Name[es]=Vista previa	F12
Name[et]=Eelvaatlus	F12
Name[eu]=Aurreikuspegia	F12
Name[fa]=F12	پیش‌نمایش
Name[fi]=Esikatselu	F12
Name[fr]=Aperçu	F12
Name[fy]=Foarbyld	F12
Name[ga]=Réamhamharc	F12
Name[gl]=Previsualizar	F12
Name[gu]=પૂર્વદર્શન	F12
Name[he]=תצוגה מקדימה	F12
Name[hi]=पूर्वावलोकन	F12
Name[hr]=Pregled	F12
Name[hsb]=Přehladka	F12
Name[hu]=Előnézet	F12
Name[ia]=Vista preliminar	F12
Name[id]=Pratinjau	F12
Name[ie]=Previder	F12
Name[is]=Forskoðun	F12
Name[it]=Anteprima	F12
Name[ja]=プレビュー	F12
Name[ka]=ესკიზი	F12
Name[kk]=Қарау	F12
Name[km]=មើល​ជា​​​មុន	F12
Name[kn]=ಮುನ್ನೋಟ	F12
Name[ko]=미리 보기	F12
Name[lt]=Peržiūra	F12
Name[lv]=Priekšskatījums	F12
Name[mai]=पूर्वावलोकन	F12
Name[mk]=Преглед	F12
Name[ml]=തിരനോട്ടം	F12
Name[mr]=पूर्वावलोकन	F12
Name[ms]=Pralihat	F12
Name[my]=အကြိုမြင်ကွင်း	F12
Name[nb]=Forhåndsvisning	F12
Name[nds]=Vöransicht	F12
Name[nl]=Voorvertonen	F12
Name[nn]=Førehandsvis	F12
Name[pa]=ਝਲਕ	F12
Name[pl]=Podgląd	F12
Name[pt]=Antevisão	F12
Name[pt_BR]=Visualização	F12
Name[ro]=Previzualizează	F12
Name[ru]=Миниатюра	F12
Name[si]=පූර්‍වදසුන	F12
Name[sk]=Náhľad	F12
Name[sl]=Predogled	F12
Name[sq]=Parapamje	F12
Name[sr]=Преглед	F12
Name[sr@ijekavian]=Преглед	F12
Name[sr@ijekavianlatin]=Pregled	F12
Name[sr@latin]=Pregled	F12
Name[sv]=Granska	F12
Name[ta]=முன்தோற்றம்	F12
Name[tg]=Пешнамоиш	F12
Name[th]=แสดงตัวอย่าง	F12
Name[tr]=Önizle	F12
Name[ug]=F12	ئالدىن كۆزەت
Name[uk]=Перегляд	F12
Name[uz@cyrillic]=Кўриб чиқиш	F12
Name[vi]=Xem thử	F12
Name[wa]=Prévoeyaedje	F12
Name[zh_CN]=预览图	F12
Name[zh_TW]=預覽	F12
Icon=view-preview-symbolic
Exec=bash -c 'qdbus_avail=($(type -p qdbus qdbus6 qdbus5 qdbus-qt6 qdbus-qt5)); qdbus=${qdbus_avail[0]}; [[ -z "${qdbus}" ]] && kdialog --error "qdbus command not found" && exit 1; for sname in $(${qdbus} "org.kde.dolphin-*") ; do isactive=false ; isactive=$(${qdbus} "${sname}" "/dolphin/Dolphin_1" "org.qtproject.Qt.QWidget.isActiveWindow") ; $isactive && ${qdbus} "${sname}" /dolphin/Dolphin_1/actions/show_preview org.qtproject.Qt.QAction.trigger ; done'
